:root {
  --dark-gray: #7F8C8D;
  --light-gray: #B1AA8D;
  --light-gray-alt: #D2D8D5;
  --dark-purple: #23060B;
  --light-purple: #7A1451;
  --red: #F74535;
  --blue: #5982BD;
  --white: #F8F3E0;
}

body {
  background-color: var(--dark-gray);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  height: 550px;
  max-height: 100vh;
  border-radius: 12px;
  background-color: var(--light-gray);
  border: 16px solid var(--light-gray);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  gap: 16px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 620px) {
  .calculator {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.logo {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: var(--light-gray-alt);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.maker {
  font-weight: 700;
}

.maker a {
  color: #1a743f;
  text-decoration: none;
}

.screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: clip;
}

.pervious-operand {
  max-height: 30px;
  font-size: 1.5rem;
}

.current-operand {
  max-height: 90px;
  font-size: 3.6rem;
}

.pervious-operand,
.current-operand {
  width: 100%;
  background-color: var(--dark-purple);
  text-align: right;
  color: var(--light-purple);
  padding: 0 0.5rem;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.keypad-key {
  flex-basis: 25%;
  font-weight: 800;
  font-size: 2rem;
  outline: none;
  border: 5px solid var(--light-gray);
  border-radius: 12px;
  cursor: pointer;
}

.keypad-key:hover {
  filter: brightness(115%);
}

.zero-key {
  flex-basis: 50%;
}

.control-key {
  background-color: var(--red);
}

.op-key {
  background-color: var(--blue);
}

.num-key {
  background-color: var(--white);
}
